
    #container {
        margin-top: 15%;
    }

    .box {
        background: azure;
        padding: 40px;
        border: 3px solid cadetblue;
    }body {
        background-image: url('img/kentang.jpg');
        background-repeat: repeat;
        text-align: center;
    }

    #container {
        margin-top: 15%;
    }

    .box {
        background: azure;
        padding: 40px;
        border: 3px solid cadetblue;
    }